<!DOCTYPE HTML>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="彩票积分,鼎盛网"/>
<meta name="description" content="鼎盛网积分乐园专区为您提供积分兑换和抽奖等功能。购买VIP福利彩票、体育彩票就送积分，积分可兑换彩票红包或者参与抽奖。"/>
<title>积分商城_鼎盛网</title>
<link rel="stylesheet" href="/css/base.css"/>
<link rel="stylesheet" href="/css/core.css"/>
<link rel="stylesheet" href="/css/jifen/main.css"/>
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/local.js"></script>
<script src="/js/lotterymode.js"></script>
</head>
<body class="">
#parse("/head.vm")
<!-- 积分兑换和抽奖 页面 -->
<article class="jfWrap clearfix">
	<nav id="pathNav"><i>您的位置：</i><a href="/">鼎盛网</a> &gt; <h1>积分商城</h1></nav>
    <div class="promotion clearfix">
    	<div class="promoImg clearfix">
        	<a class="img1" href="/ad/adhead.html" target="_blank"><img alt="" src="/img/jifen/img1.jpg"></a>
            <a class="img2" href="/Index!BuyHome.jzh" target="_blank"><img alt="" src="/img/jifen/img2.jpg"></a>
            <a class="img3" href="/Groupbuy.jzh" target="_blank"><img alt="" src="/img/jifen/img3.jpg"></a>
        </div>
        <div class="jifenInfor">
        	<div class="jfLoginBox">
				#if($user.user_id>0)
            	<div>欢迎您：<a href="/my/Index.jzh">$user.user_name</a> 当前积分：<span class="c_ba2636"><strong id="all_jf">$user.user_point</strong>分</span></div>
                <div>请输入您要兑换的积分</div>
				<input autocomplete="off" style="ime-mode: disabled; color: rgb(155, 155, 155);" class="group_input" id="jfnum">
				<a class="buy_btn" id="buyjf" href="javascript:;">兑换</a>（必须是100的整数倍 100积分=1元）
				<div class="linkBox"><a target="_blank" href="/my/Point.jzh">积分明细</a></div>
				#else
            	<strong class="c_333">登陆可查积分</strong>
                <div>登陆后可查看积分<br />还可以用积分兑换礼品</div>
                <a onclick="local.login()" href="javascript:void(0);" class="loginBtn">登 录</a>
				#end
            </div>
			<h3>帮助</h3>
			<ul>
                <li><a target="_blank" href="/help/q/103.jsp">什么是积分？</a></li>
                <li>怎么样查询积分</li>
                <li>积分能用来做什么</li>
                <li>积分活动须知</li>
            </ul>
        </div>
    </div>
	<div class="jfExchange clearfix">
		<h3><span>积分活动兑换</span><em>所有礼品每天早10：00更新，积分可以无限兑换 <a href="/help/q/103.jsp" target="_blank">详细&gt;&gt;</a></em></h3>
		<ul class="clearfix" id="jfExchangeList"><li>暂无商品</li>
			<!-- <li class='giftImg'>
                    <span><img src="http://pimg1.126.net/caipiao_info/images/headFigure/jifenleyuanImg/creditexchangegift_jifen_fan1000_0211.jpg" /></span>
                    <p class="jfNum">积分：<i>600000</i></p>
                    <p>
                        <div class="alertText hide"><p align="center"><strong>当日现金消费满10000</strong>才能获得1000元红包哦！</p> <br>  <p align="center"> 是否继续兑换？  </p> </div>
<a href="javascript:;" name='x2' title="" class="btnExchange" actType='gift' rel="1" activityId='creditexchangegift_jifen_fan1000_0211' datax="0" datay="1" useJf="600000">立即兑换</a></p>                </li>
                <li class='giftImg'>
                    <span><img src="http://pimg1.126.net/caipiao_info/images/headFigure/jifenleyuanImg/creditexchangegift_jifen_fan258_0211.jpg" /></span>
                    <p class="jfNum">积分：<i>200000</i></p>
                    <p>
                        <div class="alertText hide"><p align="center"><strong>当日现金消费满5000</strong>才能获得258元红包哦！</p> <br>  <p align="center"> 是否继续兑换？  </p> </div>
<a href="javascript:;" name='x2' title="" class="btnExchange" actType='gift' rel="1" activityId='creditexchangegift_jifen_fan258_0211' datax="0" datay="1" useJf="200000">立即兑换</a></p>                </li>
                <li class='giftImg'>
                    <span><img src="http://pimg1.126.net/caipiao_info/images/headFigure/jifenleyuanImg/creditexchangegift_jfp0327.jpg" /></span>
                    <p class="jfNum">积分：<i>2000</i></p>
                    <p>
                        <div class="alertText hide"><p >本劵可在北京、上海、广州、深圳等城市使用，更多请<a href=http://www.dwz.cn/fzu8e  target="_blank"> 到这里确定</a></p> <br>  <p> 是否继续兑换？</p> </div>
<a href="javascript:;" name='x2' title="" class="btnExchange" actType='gift' rel="1" activityId='creditexchangegift_jfp0327' datax="1" datay="1" useJf="2000">立即兑换</a></p>                </li>
                <li>
                    <span class="level15"></span>
                    <p class="jfNum">积分：<i>1000</i></p>
                    <p>
<a href="javascript:;" title="该礼品今天已经被全部兑换完，请明天再来兑换" class="btnExchange exchangeGray" rel="15" name="x1" datax="0" datay="1" redBagMoney="1" useJf="1000" rangeDes="仅限购买高频彩">立即兑换</a></p>                </li>
                <li>
                    <span class="level16"></span>
                    <p class="jfNum">积分：<i>1000</i></p>
                    <p>
<a href="javascript:;" title="" class="btnExchange" rel="16" name="x1" datax="0" datay="1" redBagMoney="1" useJf="1000" rangeDes="仅限购买竞彩、足彩">立即兑换</a></p>                </li>
                <li>
                    <span class="level17"></span>
                    <p class="jfNum">积分：<i>1000</i></p>
                    <p>
<a href="javascript:;" title="" class="btnExchange" rel="17" name="x1" datax="0" datay="1" redBagMoney="1" useJf="1000" rangeDes="仅限购买竞彩、足彩">立即兑换</a></p>                </li>
                <li>
                    <span class="level18"></span>
                    <p class="jfNum">积分：<i>3000</i></p>
                    <p>
<a href="javascript:;" title="" class="btnExchange" rel="18" name="x1" datax="0" datay="1" redBagMoney="3" useJf="3000" rangeDes="仅限购买竞彩、足彩">立即兑换</a></p>                </li>
                <li>
                    <span class="level7"></span>
                    <p class="jfNum">积分：<i>2000</i></p>
                    <p>
<a href="javascript:;" title="该礼品今天已经被全部兑换完，请明天再来兑换" class="btnExchange exchangeGray" rel="7" name="x1" datax="0" datay="300" redBagMoney="2" useJf="2000" rangeDes="仅限购买竞彩、足彩">立即兑换</a></p>                </li>
                <li>
                    <span class="level8"></span>
                    <p class="jfNum">积分：<i>5000</i></p>
                    <p>
<a href="javascript:;" title="该礼品今天已经被全部兑换完，请明天再来兑换" class="btnExchange exchangeGray" rel="8" name="x1" datax="0" datay="500" redBagMoney="5" useJf="5000" rangeDes="仅限购买竞彩、足彩">立即兑换</a></p>                </li>
                <li>
                    <span class="level9"></span>
                    <p class="jfNum">积分：<i>2000</i></p>
                    <p>
<a href="javascript:;" title="该礼品今天已经被全部兑换完，请明天再来兑换" class="btnExchange exchangeGray" rel="9" name="x1" datax="0" datay="500" redBagMoney="2" useJf="2000" rangeDes="仅限购买高频彩">立即兑换</a></p>                </li>
                <li>
                    <span class="level10"></span>
                    <p class="jfNum">积分：<i>5000</i></p>
                    <p>
<a href="javascript:;" title="该礼品今天已经被全部兑换完，请明天再来兑换" class="btnExchange exchangeGray" rel="10" name="x1" datax="0" datay="500" redBagMoney="5" useJf="5000" rangeDes="仅限购买高频彩">立即兑换</a></p>                </li>
                <li>
                    <span class="level14"></span>
                    <p class="jfNum">积分：<i>1000</i></p>
                    <p>
<a href="javascript:;" title="" class="btnExchange" rel="14" name="x1" datax="0" datay="300" redBagMoney="1" useJf="1000" >立即兑换</a></p>                </li>
                <li>
                    <span class="level3"></span>
                    <p class="jfNum">积分：<i>5000</i></p>
                    <p>
<a href="javascript:;" title="该礼品今天已经被全部兑换完，请明天再来兑换" class="btnExchange exchangeGray" rel="3" name="x1" datax="0" datay="50" redBagMoney="5" useJf="5000" >立即兑换</a></p>                </li>
                <li>
                    <span class="level4"></span>
                    <p class="jfNum">积分：<i>100000</i></p>
                    <p>
<a href="javascript:;" title="该礼品今天已经被全部兑换完，请明天再来兑换" class="btnExchange exchangeGray" rel="4" name="x1" datax="0" datay="1" redBagMoney="100" useJf="100000" >立即兑换</a></p>                </li>
                <li>
                    <span class="level12"></span>
                    <p class="jfNum">积分：<i>1000000</i></p>
                    <p>
<a href="javascript:;" title="该礼品今天已经被全部兑换完，请明天再来兑换" class="btnExchange exchangeGray" rel="12" name="x1" datax="0" datay="1" redBagMoney="1,000" useJf="1000000" >立即兑换</a></p>                </li>
                <li>
                    <span class="level13"></span>
                    <p class="jfNum">积分：<i>10000000</i></p>
                    <p>
<a href="javascript:;" title="" class="btnExchange" rel="13" name="x1" datax="0" datay="1" redBagMoney="10,000" useJf="10000000" >立即兑换</a></p>                </li> -->
		</ul>
	</div>
</article>
#include("/foot.vm")
</body>
<script>
$(function(){
	$('#jfnum').blur(function(){
		var num = $(this).val().replace(/[^\d]/g,'');
		var all = $('#all_jf').text().replace(/[^\d]/g,'');
		num = Number(num);
		all = Number(all);
		if(num>all){
			alert('兑换的积分不能超过'+all);$(this).val(0);
		}else if(num%100 !=0){
			alert('兑换积分必须是100的倍数！');$(this).val(num-(num%100));
		}
	});
	$("#buyjf").click(function(){
		var jf = $('#jfnum').val();
		var all = $('#all_jf').text().replace(/[^\d]/g,'');
		jf = Number(jf);
		all = Number(all);
		if(jf<=0){
			alert("请输入要兑换的积分！");return;
		}
		if (jf%100 !=0){
			alert('兑换积分必须是100的倍数！');$(this).val(jf-(jf%100));return;
		}else if(jf>all){
			alert('兑换的积分不能超过'+all);$(this).val(0);return;
		}
		$.post('/my/Point.jzh',{jf:jf,t:local.TimeLong()},function(data){
				if (data=='0') {
					alert("兑换成功",1);location.reload();
				}else if(data=='-2'){
					alert("积分不足。");
				}else if(data=='-1'){
					alert("兑换失败！");
				}else{
					alert("操作有误。");
				}
		});
	});
});
</script>
</html>
