<!DOCTYPE HTML>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<title>我的彩票</title>
<link rel="stylesheet" href="/css/base.css"/>
<link rel="stylesheet" href="/css/core.css"/>
<link rel="stylesheet" href="/css/userCenter/common.css"/>
<link rel="stylesheet" href="/css/userCenter/myLott.css"/>
<link rel="stylesheet" href="/css/userCenter/bankLogo.css"/>
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/local.js"></script>
 <script src="/js/jquery/jquery.qrcode.min.js" type="text/javascript"></script>
  <script src="/js/layer/layer.js" type="text/javascript"></script>
</head>
<body class="">
#parse("/head.vm")
<article class="docBody clearfix">
    #set($listint=3)
	#parse("/my/MyList.vm")
    <div class="rightModule">
		<ul class="redTab">
			#if($xbei=='0')<li#if($pay=='xbei') class="active"#end><a href="/my/Rechange.jzh?pay=xbei" target="_self">微信支付1</a></li>#end
			#if($alipay=='0')<li#if($pay=='alipay') class="active"#end><a href="/my/Rechange.jzh?pay=alipay" target="_self">支付宝充值1</a></li>#end
			#if($huichao=='0')<li#if($pay=='huichao') class="active"#end><a href="/my/Rechange.jzh?pay=huichao" target="_self">在线支付1</a></li>#end
			<li#if($pay=='tenpay') class="active"#end><a href="/my/Rechange.jzh?pay=tenpay" target="_self">微信支付2</a></li>
			<li#if($pay=='chinabank') class="active"#end><a href="/my/Rechange.jzh?pay=chinabank" target="_self">支付宝充值2</a></li>
			<li#if($pay=='yeepay') class="active"#end><a href="/my/Rechange.jzh?pay=yeepay" target="_self">在线支付2</a></li>
		
<li><a href="/my/Rechange!RechDesc.jzh" target="_self">充值记录</a></li>
		</ul>
       <div class="orderDataBox grayBorder">
	<ul style="padding-bottom:0" class="pay_form">
	    <span id="payOnlineForm1box" style="display: block;">
		<li>
		   <div class="f_left">充值金额：</div>
                      <div class="f_right">
			<span style="position:relative; display:inline-block">
			   <input type="text" onpaste="return false" autocomplete="off" maxlength="6" style="width:130px" id="amount" class="inputs" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
			</span>
			元 <span id="amount_err" class="err">&nbsp;</span>
                        </div>
		</li>	
	  </span>
	<!--开快捷提示信息 开始-->
    <li style="display:block;" id="bankQuickBInfoBox">
      <div class="f_left">&nbsp;</div>
      <div class="f_right"><span class="quickPayOnline">即时到账，充值免收手续费，最小充值金额50元<!--最小充值金额10元,最大5万--></span></div>
    </li>
    <!--开快捷提示信息 结束-->
    <li id="goPayOnlineBtnBox" class="btnLi" style="display: block;">
      <div class="f_left">&nbsp;</div>
      <div class="f_right"> 
	  	<span class="btn1Box">
        <button class="btn1" type="button" id="bankCardSumbit">充值</button>
        </span> 
	  </div>
    </li>
  </ul>
<form action="/pay/newzhifu/paysubmitwx.jsp" method="post" id="myform" target="_blank">
	<input type="hidden" name="pa_MP" id="pa_MP" value="$!user.user_name"/>
	<input type="hidden" name="p3_Amt" id="p3_Amt" value=""/>
	<input type="hidden" name="pd_FrpId" id="v_bank" value="100040"/>

</form>
<script>
$('#amount').keyup(function(){
	var m = $(this).val().replace(/\D/g,'');
	$(this).val(m);
	$('#p3_Amt').val(m);
});
var index = 0;
$('#bankCardSumbit').click(function(){
		var mon = $('#p3_Amt').val();
		if(mon<50){
			alert('最少需充值50元。');return;
		}
		$("#myform").submit();
		
		//openPostWindow('/pay/newzhifu/paysubmitxb.jsp', {'WIDtotal_fee' : document.getElementById('p3_Amt').value ,'pd_FrpId' : document.getElementById('v_bank').value , 'pa_MP' : encodeURIComponent(document.getElementById('pa_MP').value)}, 'xxpp');
});
var timer1 = null;
/*检查订单状态是否支付成功*/
function changeOrder(orderNo){

		$.ajax({
		    url: '/pay/newzhifu/orderStatus.jsp?number='
				+ Math.random(),    //请求的url地址
		    dataType: "json",   //返回格式为json
		    async: true, //请求是否异步，默认为异步，这也是ajax重要特性
		    data: { "orderNo": orderNo },    //参数值
		    type: "POST",   //请求方式
		    success: function(data) {
		    	 var respCode =  data.respCode;
			 if(respCode=="1"){
				var status = data.status;
				if(status=="1"){
				  window.location.reload();
				}
			 }
		    },
		    error: function() {
		    }
		});
}

function openPostWindow(url, data, name)  
{  
    var tempForm = document.createElement("form");  
    tempForm.id="tempForm1";  
    tempForm.method="post";  
    tempForm.action=url;  
    tempForm.target=name;
    
    for (var key in data) {
        var hideInput = document.createElement("input");  
        hideInput.type="hidden";  
        hideInput.name= key;
        hideInput.value= data[key];
        tempForm.appendChild(hideInput);
    }
        
    addEvent(tempForm,"submit",function(){ openWindow(name); });
    
    document.body.appendChild(tempForm);
    
    if(tempForm.fireEvent){tempForm.fireEvent("onsubmit");}
    tempForm.submit();
    
    document.body.removeChild(tempForm);
}

function addEvent(element,type,handler){
    if(element.attachEvent){
        element.attachEvent("on"+type,handler);
    }else if(element.addEventListener){
        element.addEventListener(type,handler,false);
    }else{
        alert("注册事件失败，浏览器不支持！");
    }
}

function openWindow(name)
{  
    window.open('about:blank',name,'height=400, width=400, top=0, left=0, toolbar=yes, menubar=yes, scrollbars=yes, resizable=yes,location=yes, status=yes');   
}

function delayclick(o){
    o.disabled=true;
    setTimeout(function(){o.disabled=false;},1000);
}
</script>
</div>
#include("/my/MyHot.vm")
</div>
</article>
#include("/foot.vm")
<div id="img-ewm" class="img-ewm"></div>
</body>
</html>