body{margin:0px}
body{color:#000;background-color:#fff;}
p{margin:0px;}
body,table{font-size:12px;line-height:150%;font-family:"Verdana","Arial","Helvetica","sans-serif"}
input,select,textarea{font-size:12px;font-family:"Verdana","Arial","Helvetica","sans-serif"}
a:link,a:visited{color:#036;text-decoration:none}
a:hover{color:#f60;text-decoration:underline}
a.menuChild:link{color:#036;text-decoration:none}
a.menuChild:visited{color:#036;text-decoration:none}
a.menuChild:hover{color:#f60;text-decoration:underline}
a.menuParent:link,a.menuParent:visited{color:#000;text-decoration:none}
a.menuParent:hover{color:#f60;text-decoration:none}
table.position{width:100%}
tr.position{height:25px;background-color:#f4f7fc}
TD.position{border-right:#adceff 1px solid;PADDING-LEFT: 20px;BORDER-BOTTOM:#adceff 1px solid}
TABLE.listTable{WIDTH:98%; BACKGROUND-COLOR:#b1ceee}
TR.listHeaderTr{FONT-WEIGHT:bold;HEIGHT:25px;BACKGROUND-COLOR:#ebf4fd;TEXT-ALIGN:center}
TR.listTr{HEIGHT:25px;BACKGROUND-COLOR:#fff;TEXT-ALIGN:center}
TR.listAlternatingTr{HEIGHT:25px;BACKGROUND-COLOR:#fffdf0;TEXT-ALIGN:center}
TR.listFooterTr{HEIGHT:30px;BACKGROUND-COLOR:#ebf4fd;TEXT-ALIGN:center}
TABLE.editTable{WIDTH:98%;BACKGROUND-COLOR:#b1ceee}
TR.editHeaderTr{HEIGHT:25px;BACKGROUND-COLOR:#ebf4fd}
TD.editHeaderTd{PADDING-LEFT:50px;FONT-WEIGHT:bold}
TR.editTr{HEIGHT:30px}
TD.editLeftTd{WIDTH:150px;BACKGROUND-COLOR:#fffdf0;TEXT-ALIGN:center}
TD.editRightTd{PADDING-LEFT:10px;BACKGROUND-COLOR:#fff}
TR.editFooterTr{HEIGHT:40px;BACKGROUND-COLOR:#ebf4fd}
TD.editFooterTd{PADDING-LEFT:150px}
a{color:#c75f3e;} 
.mtb{border-left:1px solid #C1DAD7;padding:0;margin:0;}
.mtb caption{
	font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
    color: #4f6b72; 
    border: 1px solid #C1DAD7; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    text-align:center;
    padding: 6px 6px 6px 12px;
    margin-top:10px;
    background-color:#CAE8EA; 
}
.mtb tr.tit{
	background-color:#CAE8EA;
}
.tor{color: red;}
.mtb th{
	font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
    color: #4f6b72; 
    border: 1px solid #C1DAD7; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    text-align:center;
    padding: 3px; 
}
.mtb td{
    border-right: 1px solid #C1DAD7; 
    border-bottom: 1px solid #C1DAD7; 
    padding: 3px; 
    color: #4f6b72; 
}
.mtb tr.alt td{ 
    background: #F5FAFA; 
    color: #797268; 
}
.mtb th.nobg { 
    border-top: 0; 
    border-left: 0; 
    border-right: 1px solid #C1DAD7; 
    background: none; 
} 
.mtb th.spec { 
    border-left: 1px solid #C1DAD7; 
    border-top: 0; 
    background-color:#fff; 
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
}
.mtb th.specalt { 
    border-left: 1px solid #C1DAD7; 
    border-top: 0; 
    background-color:#f5fafa; 
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
    color: #797268; 
} 
/*---------for IE 5.x bug*/ 
html>body td{ font-size:13px;}
.page a:hover{BORDER-RIGHT:#2b66a5 1px solid;BORDER-TOP:#2b66a5 1px solid;BORDER-LEFT:#2b66a5 1px solid;COLOR:#000;BORDER-BOTTOM:#2b66a5 1px solid;BACKGROUND-COLOR:lightyellow}
.page a{border-color:#9AAFE5;border-right:1px solid #9AAFE5;border-style:solid;border-width:1px;color:#2E6AB1;margin-right:4px;padding:2px 5px;text-decoration:none;}
.page span.current {background-color:#2E6AB1;border-color:#000080;border-right:1px solid navy;border-style:solid;border-width:1px;color:#FFFFFF;font-weight:bold;margin-right:4px;padding:2px 5px;}
.page span.disabled{BORDER-RIGHT:#929292 1px solid;PADDING-RIGHT:5px;BORDER-TOP:#929292 1px solid;PADDING-LEFT:5px;PADDING-BOTTOM:2px;BORDER-LEFT:#929292 1px solid;COLOR:#929292;MARGIN-RIGHT:4px;PADDING-TOP:2px;BORDER-BOTTOM:#929292 1px solid}
.top3_num,.num_bg{width:20px; height:13px; font-family:Tahoma, Geneva, sans-serif; color:#fff; text-align:center; line-height:13px; background-position:3px -87px; display:inline-block; margin-right:4px;}
.num_bg{background-position:3px -113px;}