* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font: 12px/ 18px Verdana, Arial, Helvetica, sans-serif;
	background: #FFF;
}

li {
	list-style: none;
}

img {
	border: none;
}

.cl {
	clear: both;
}

#main {
	background: url("bg0.png") no-repeat center -0px;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	padding: 0px;
	margin-left: 0 5px;
	height: 580px;
}

#main .content {
	margin: 0 auto;
	padding-top: 160px;
}
#main .loginForm
{
	background: url(login.png) no-repeat center -0px;
	width: 406px;
	height: 356px;
	margin: 0 auto;
	filter:alpha(opacity=70);  
    -moz-opacity:0.7;  
    -khtml-opacity: 0.7;  
    opacity: 0.7;  
}
#main input.normal{
	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;
font-weight:bold;width: 322px;font-size:14px; line-height:30px;  
height: 32px; border:none;border:0;color:black; margin-top:90px; 
margin-left:32px; padding-left: 10px;}
#main input.passnormal{
filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;
font-weight:bold;width: 322px;font-size:14px; line-height:30px;  height: 32px;border:none;border:0;color:black;
margin-left:32px; margin-top:12px;
padding-left: 10px;
}
#main input.verifycodenormal{
filter:alpha(opacity=50);  
-moz-opacity:0.5;  
-khtml-opacity: 0.5;  
opacity: 0.5;
text-transform:uppercase; font-weight:bold;
width: 214px;font-size:14px; line-height:30px;  
height: 32px;border:none;border:0; color:black;
margin-left:32px;
padding-left: 10px;
margin-top:12px;
float:left;
}
#main input.focus{font: 16px/ 18px 微软雅黑, Arial, Helvetica, sans-serif;}