<!DOCTYPE HTML>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<title>我的彩票</title>
<link rel="stylesheet" href="/css/base.css"/>
<link rel="stylesheet" href="/css/core.css"/>
<link rel="stylesheet" href="/css/userCenter/common.css"/>
<link rel="stylesheet" href="/css/userCenter/myLott.css"/>
<link rel="stylesheet" href="/css/userCenter/bankLogo.css"/>
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/local.js"></script>
</head>
<body class="">
#parse("/head.vm")
<article class="docBody clearfix">
    #set($listint=4)
	#parse("/my/MyList.vm")
    <div class="rightModule">
		<ul class="redTab">
			<li><a href="/my/Rechange!Draw.jzh" target="_self">提款到银行卡</a></li>
			<li class="active"><a href="/my/Rechange!Draw2.jzh" target="_self">第三方提款</a></li>
			<li><a href="/my/Rechange!DrawDesc.jzh" target="_self">提款记录</a></li>
		</ul>
        <div class="orderDataBox grayBorder">
			<ul class="pay_form">
				不支持第三方提款
				<!--#if($pay)
				<li>
					<div class="f_left">提现账户：</div>
						<div style="position:relative;width:480px" class="f_right"><a class="addBankIcon" href="/my/Rechange!BindCard2.jzh"></a>
						<ul id="useBankList" class="quickSelectList">
						#if($pay)
							#foreach($list in $pay)
							<li payid="$list.Pay_id"><span class="bankLogo $list.Pay_class"></span><span class="weihaoText">#if($list.Pay_type=='1')财付通#else支付宝#end(账户：$list.Pay_user)</span><span class="arr"></span></li>
							#end
						#end
						</ul>
						</div>
					</li>
					<li style="margin-top:10px">
						<div class="f_left">预计到账时间：</div>
						<div class="f_right">
							<span id="accountTime">3分钟到5小时内到账</span>
						</div>
					</li>
					<li style="margin-top:10px">
						<div class="f_left">提现金额：</div>
						<div class="f_right">
							<input type="text" onpaste="return false" autocomplete="off" id="amount" style="font-size:16px;font-weight:bold;color:#F60;font-family:Arial" name="drawAmount" class="inputs">&nbsp;&nbsp;元
								<span class="err" id="amount_err">&nbsp;</span>
								<div class="info">可提现金额 <strong id="limitAmount" style="color:#C5272B">$user.User_money</strong> 元（单笔提款不能超过1万元。）</div>
						</div>
					</li>
					<li style="margin-top:10px">
						<div class="f_left">支付密码：</div>
						<div class="f_right">
							<input type="password" onpaste="return false" autocomplete="off" id="paypass" style="width:145px;font-size:16px;font-weight:bold;" class="inputs">
						</div>
					</li>
					<li style="margin-top:10px">
						<div class="f_left">&nbsp;</div>
						<div class="f_right"> 
							<span class="btn1Box">
								<button id="bankCardSumbit" type="botton" class="btn1">提款</button>
							</span> 
						</div>
					</li>
				#else
				<li>
					<div class="f_left">支付账户：</div>
					<div style="position:relative;width:480px" class="f_right">您还未添加第三方支付账户  <a class="addBankIcon" href="/my/Rechange!BindCard2.jzh"></a></div>
				</li>
				#end-->
			</ul>
	<div class="drawCashHelp">
		<h4 class="actH4">使用说明：</h4>
		<ul class="helpBottom">
			<li>1、第三方支付系统目前只支持支付宝和财付通。</li>
			<li>2、第三方支付必须提供用户名，因账号错误导致的不到账的概不负责。</li>
			<li style="color:red">3、提现限额： 单笔提现最小金额大于100元， 单笔提现最大金额100000元， 单日提现总金额上限为500000元。 每日最多5笔，前二笔免费，后三笔需收取相应的手术费。</li>
			<li>4、第三方支付系统提款最终解释权归本站所有。</li>
		</ul>
	</div>
</div>
#include("/my/MyHot.vm")
</div>
</article>
#include("/foot.vm")
</body>
<script>
$(function(){
	$('#useBankList>li').click(function(){
		$('#useBankList>li').removeClass('active');
		$(this).addClass('active');
	});
	$('#amount').keyup(function(){
		var amount = Math.ceil($('#amount').val());
		var limitAmount = Math.floor($('#limitAmount').text());
		if(amount>limitAmount){
			amount=limitAmount;
		}else if(isNaN(amount)){
			amount=0;
		}
		$('#amount').val(amount);
	});
	$('#bankCardSumbit').click(function(){
		var payid = Number($('#useBankList>li.active').attr('payid'));
		var pass = $('#paypass').val();
		var tmon = Math.floor($('#amount').val());
		var amon = Math.floor($('#limitAmount').text());
		if(payid==0||isNaN(payid)){
			alert('请选择第三方账户');return;
		}else if(tmon==0){
			alert('请输入提款金额。');return;
		}else if(tmon>amon){
			alert('您的余额'+amon+'元，不足以提款'+tmon+'元');return;
		}else if(tmon>10000){
			alert('第三方提款单笔不能超过1万元。');return;
		}else if(pass==''){
			alert('支付密码不能为空');return;
		}
		$.post('/my/Rechange!Draw2.jzh',{payid:payid,money:tmon,paypass:pass,t:local.TimeLong()},function(data){
			if(data=='0'){
				alert('提款成功');location.href='/my/Rechange!DrawDesc.jzh';
			}else if(data=='1'){
				alert('支付密码错误');
			}else if(data=='2'){
				alert('账户余额不足');
			}else if(data=='-1'){
				alert('第三方账户出错，请联系网站技术。');
			}
		});
	});
});
</script>
</html>