i[class^="logo-"]{background-size: auto 3.75rem;background-position:left center;background-repeat: no-repeat; display: inline-block; width: 3.75rem; height: 3.75rem; }
.logo-1{ background-image:url(../images/logo/1.png);}
.logo-2{background-image:url(../images/logo/8.png);}
.logo-3{background-image:url(../images/logo/3.png);}
.logo-4{background-image: url(../images/logo/4.png);}
.logo-5{background-image: url(../images/logo/5.png);}

.logo-6{background-image:url(../images/logo/6.png);}
.logo-7{background-image: url(../images/logo/7.png);}
.logo-8{background-image: url(../images/logo/2.png);}
.logo-9{background-image: url(../images/logo/zhjz.png);}