@charset "utf-8";
/*================================================
Version:0.0.1
================================================*/
.banner{ height:10.83rem; background:url(../images/11x5//banner-bg.png) center top no-repeat; background-size:cover;}
.banner h4{ font-size:1.33rem; color:#fff; font-weight:700; padding:0.83rem 0 0.23rem;}
.banner h6{ margin-top:0.66rem; color:#fff;}
.banner h6 em{ color:#ffd036;}
.banner .ballboxm{ border-radius:0.41rem; background:#cf3f29; padding:0.41rem; margin:0 4.33rem;}
.banner .ballboxfc{border-radius:0.41rem; background:#58232c; padding:0.25rem; list-style-type:none; overflow:hidden;}
.banner .ballboxfc li{ border-top:0.83rem solid #fff1eb; border-bottom:0.83rem solid #fff1eb; background:#fff; height:2rem; padding:0.5rem 0rem; margin-right:1px; position:relative;overflow:hidden; text-align:center}
.banner .ballboxfc li div{ max-width:2rem; height:2rem;}
.banner .s-ballred,.banner .s-ballblue{ height:100%; width:100%; border-radius:50%; border-width:1px; text-align:center; line-height:2rem; font-weight:700; margin-right:1px; font-size:1.25rem; display:inline-block;}
.banner .s-ballred{ border:1px solid #ec4d35; color:#fff; background:#ec4d35;}
.banner .s-ballblue{ border:1px solid #438ed3; color:#fff; background:#438ed3;}

.con_bg{ background:#fff; border-bottom:1px solid #dcdddd; border-top:1px solid #dcdddd; margin-top:1.11rem;}
.con_bg.trend .title{ padding:0.5rem 0;}
.trend_inforec{ text-align:center; position:relative; margin-top:0.5rem;}
.trend_inforec .infoleft{ position:relative; display:inline-block;}
.trend_inforec .infolist li{ position:relative; width:1.11rem; height:6rem; text-align:center}
.trend_inforec .infolist li .foem{ position:absolute; top:-1.5rem; width:1.11rem; left:0;}
.trend_inforec .infolist li .boxs{ width:1.11rem; display:inline-block; position:absolute; bottom:0rem; left:50%; margin-left:-0.55rem;}
.back_red{ background:#ec4d35;}
.back_gry{ background:#c9caca;}
.back_gre{ background:#1daa44;}
.digital li{ padding:0.5rem 0;}
.digital li .y_em{ width:1.66rem; height:1.66rem; border-radius:1.66rem; border:1px solid #999; background:#fff; text-align:center; line-height:1.66rem; font-size:0.83rem; color:#999;}


.con_bg.con_box{ border-bottom:none;}
.con_nav li{ width:50%; float:left; border-right:1px solid #dcdddd; border-bottom:1px solid #dcdddd; padding:1.38rem 1.33rem; box-sizing:border-box;}
.con_nav li li:nth-child(2n+0){ border-right:none;}
.con_nav li .left_pic{ width:3.88rem; height:3.88rem;}
.con_nav li .right_f{ font-size:1.33rem; margin-left:1.11rem;}
.icon_nav{ background:url(../images/11x5/icon_nav_class.png) no-repeat; background-size:90px 90px; width:45px; height:45px;}
.icon_nav.nava{ background-position:0 0;}
.icon_nav.navb{ background-position:0 -45px;}
.icon_nav.navc{ background-position:-45px 0;}
.icon_nav.navd{ background-position:-45px -45px;}

.recom_box{ padding:0.83rem 0;}
.recom_box .btn_red{ width:6.66rem; height:2.5rem; text-align:center; border-radius:0.625rem; color:#fff; line-height:2.5rem; font-size:1.16rem;}
.recom_box .ballbox{ margin:0.33rem 0;}
.recom_box .ballbox li{ width:2.33rem; height:2.33rem; border:1px solid #ed4d35; color:#ed4d35; text-align:center; line-height:2.33rem; margin-right:0.31rem; border-radius:2.33rem; display:inline-block; font-weight:700; font-size:1.33rem; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}









